@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.bg-dark, .jumbotron, .button {
    background-image: linear-gradient(to right, #16bffd, #00d2ff);
    color: #fff;
}

.button {
    cursor: pointer;
}

.heading {
    padding: 45px;
}

.postcode-wrapper {
    marging-top: 30px;
}

.postcode {
    color: #f1ec27;
}

.bus-info {
    background-image: linear-gradient(to right, #16bffd, #00d2ff);
    border-radius: 10px;
    color: #fff;
    padding: 7px;
}