<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <div class="jumbotron text-center heading">
                <h1>Bus Information</h1>
                <h5 class="postcode-wrapper">You entered postcode <span class="postcode" th:text="${busInfo.postcode}"></span></h5>
            </div>
            <div>
                <p class="col-6 bus-info" th:each="bus: ${busInfo.buses}">
                    <i class="fas fa-bus"></i>
                    Bus No: <span th:text="${bus.lineName}"></span> to <span th:text="${bus.destinationName}"></span>
                    Arrives in <span th:text="${bus.timeToStation / 60}"></span> minutes.
                </p>
            </div>
        </div>
    </body>
</html>